body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1000;
    width: 100%;
}
.nav1{
    padding-left: 7em;
    padding-right: 7em;
    display: flex;
    flex-direction: row;
    gap: 25em;    
    align-items: flex-end;
    background-color: #0296dc;
}
.nav1 img{
    width: 20px;
}
.nav2{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}
.nav2 button{
    padding: 0.4em;
    border-radius: 10px;
    background-color: #0287c7;
    border: none;
    color: #ffffff;
    font-size: 0.9em;
}
.nav2 button:hover{
    color: #c1c1c1;
}
.nav3{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    margin-top: 0.4em;
    margin-bottom: 0.7em;
}
.nav3 button{
    padding: 0.1em 0.4em 0.1em 0.4em;
    border-radius: 7px;
    background-color: #0287c7;
    border: none;
    color: #ffffff;
    font-size: 0.9em;
}
.nav3 button:hover{
    color: #c1c1c1;
}
.nav4{
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    border-bottom: solid 2px black;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8em;
}
.nav5 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.nav5 a{
    text-decoration: none;
    color: black;
    border: solid 1px #eeeeee;
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    position: relative;
}
.nav5 a:hover{
    color: black;
    font-weight: 650;
}
.nav5 a::before {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: transparent;
    transition: width 0.3s, background-color 0.3s; 
}

.nav5 a:hover::before {
    width: 100%; 
    background-color: black; 
}
.icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
#contact{
    background-image: url("../images/cont1.jpg");
    height: 25em;
}
#contact h1{
    padding: 6em;
    color: #ffffff;
}
#details{
    padding: 3em 15em 3em 15em;
}
.details1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    text-align: center;
    color: #363636;
}
.details2,
.details3,
.details4{
    width: 15em;
    padding: 1em;
    min-height: 100px;
    border: 6px solid #ffffff;
    box-shadow: 0px 0px 1px 4px #ececec;
    background-color: #efefef;
}
.details2,
.details3{
    height: 14em;
}
.details2 img{
    width: 40%;
    margin-top: 1em;
    padding-bottom: 1em;
}
.details2 p{
    margin-bottom: 0.2em;
    color: #363636;
}
.details3 img{
    width: 40%;
    padding-bottom: 2em;
}
.details3 a{
    text-decoration: none;
    color: #363636;

}
.details4{
    height: 16em;
}
.details4 img{
    width: 15%;
    padding-top: 1em;
    padding-bottom: 1em;
}
#form{
    padding: 1em 15em 3em 15em;
}
.form1{
    display: flex;
    flex-direction: row;
}
.form2 img {
    width: 100%;
}
.form3{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-left: 3em;
    padding-right: 2em;
    background-color: #eeeeee;
    width: 55em;
}
.form3 h1{
    font-size: 1.8em;
    font-weight: 400;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.form3 input,textarea{
    border: none;
    border-bottom: solid 2px #c7c5c5;
    background-color: #eeeeee;
    font-size: 1.1em;
    margin-bottom: 3em;
}
input:focus,
textarea:focus {
    outline: none; 
    background-color: #fff;
    border-color: #0287c7;
}
.form3 button{
    margin-top: 1.5em;
    width: 5em;
    padding: 0.2em;
    font-size: 1.3em;
    border: none;
    color: #ffffff;
    border-radius: 30px;
    background: linear-gradient(9deg, rgba(10,81,219,1) 17%, rgba(42,134,219,1) 47%, rgba(45,159,212,1) 100%);
}
.form3 button:hover{
    background: #0b89c5;
}
#last{
    padding: 3em 7em 3em 12em;
    background-color: #d7d7d7;
    display: flex;
    flex-direction: row;
    gap: 7em;
}
#last h1{
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 1em;
}
#last a:hover{
    color: #838383;
}

.last1{
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.last2 h5{
    font-size: 0.9em;
    font-weight: 600;
}
.last2 p{
    font-size: 0.9em;
    color: #363636;
}
.last2 a{
    text-decoration: none;
    color: #363636;
    font-size: 0.9em;
}
.last3 a{
    text-decoration: none;
    color: #363636;
    font-size: 0.9em;
    padding-bottom: 0.5em;
}
.last3 a img{
    padding-top: 3em;
}
.last5{
    padding-top: 3.5em;
}
.last5 a{
    text-decoration: none;
    color: #363636;
    font-size: 0.9em;
    padding-bottom: 0.5em;
}
.fab {
    background: #303030;
    color: #fff;
    font-size: 16px;
    margin: 26px 2px 20px 0;
    padding: 7px;
    border-radius: 8px 0 8px;
    width: 32px;
    text-align: center;
}
.last6 a{
    text-decoration: none;
    color: #363636;
}
.last6 button{
    background-color: #363636;
    color: #fff;
    font-weight: 600;
}
.last4{
    display: flex;
    flex-direction: row;
    gap: 4em;
}
footer{
display: flex;
flex-direction: row;
justify-content: center;
background-color: #000;
}
footer p{
    padding-top: 1em;
    color: #fff;
}






@media screen and (max-width: 600px) {
    body{
        width: 300%;
    }
    .nav1{
        padding-left: 2em;
        padding-right: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
   .nav2{
    display: flex;
    flex-direction: row;
   }
   .nav2 button{
    font-size: 1.8em;
   }
   .nav3 button{
    font-size: 1.8em;
   }

    .topnav {
        overflow: hidden;
        background-color: #ffffff;
        position: relative;
        padding-top: 4em;   
        padding-bottom: 3em;  
      }
    
      .topnav #myLinks {
        display: none;
        padding-top: 3em;
      }
      
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .nav5 a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.8em;
        font-weight: 600;
        display: block;
        width: 30em;
        border: solid 1px #eeeeee;
        margin-bottom: 5px;
        margin-top: 1em;
      }
      .topnav img.active{
        display: block;
        position: absolute;
        left: 2em;
        top: 0em;
        bottom: 2em;
        width: 30%;
      }
      
      .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0.5em;
        top: 0;
        font-size: 3em;
      }
      
      .topnav a:hover {
        color: black;
      }
      
      .active {
        color: white;
      }
      #contact{
        margin-top: 14em;
      }
      #contact h1{
        font-size: 3.5em;
        padding: 3em;
      }
      #details{
        padding-left: 7em;
        padding-right: 7em;
      }
      .details1{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    .details2,
    .details3,
    .details4{
         width: 35em;
         height: 40em;
    }
      .details2 img{
        width: 70%;
        margin-bottom: 3em;
      }
      .details2 p{
        font-size: 2.5em;
        font-weight: 500;
      }
      .details3 img{
        width: 70%;
      }
      .details3 a{
        font-size: 2.5em;
        font-weight: 500;
      }
      .details4 img{
        width: 25%;
      }
      .details4 p{
        font-size: 2.3em;
        font-weight: 500;
      }
      #form{
        padding-left: 7em;
        padding-right: 7em;
      }
      .form1{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .form3{
        padding-bottom: 3em;
      }
      .form2 img{
        width: 100%;
      }
      .form3 h1{
        font-size: 3.5em;
      }
      .form3 input{
        font-size: 2em;
      }
      .form3 textarea{
        font-size: 2em;
      }
      .form3 button{
        font-size: 2.3em;
        font-weight: 500;
      }
      #last{
        padding: none;
        display: flex;
        flex-direction: column;
    }
    #last h1{
        font-size: 2em;
    }
    .last1{
        display: flex;
        flex-direction: row;
    }
    .last4{
        display: flex;
        flex-direction: row;
        gap: 22em;
    }
    .last2 h5{
        font-size: 1.2em;
        font-weight: 700;
    }
    .last2 p{
        font-size: 1.3em;
        font-weight: 600;
    }
    .last2 a,
    .last3 a,
    .last5 a {
        font-size: 1.3em;
        font-weight: 600;
    }
   .last6 a{
    font-size: 1.5em;
   }
   footer p{
    font-size: 1.8em;
   }
    }